
.moreMenuContent {
  display: block;
  position: absolute;
  top: calc(100% + 15px);
  right: 10px;
  background-color: #FFF;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  min-width: 150px;
  transition: all .5s ease;
  &.moreMenuContentTop {
    top: auto;
    bottom: calc(100% + 20px);
  }
}

.moreMenuContentMenu {
  position: relative;
  padding: 10px;
  &::after {
    content: '';
    position: absolute;
    bottom: calc(100% - 1px);
    top: auto;
    right: 30px;
    border-bottom: 10px solid #FFF;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  &.top {
    &::after {
      bottom: auto;
      top: calc(100% - 1px);
      border-top: 10px solid #FFF;
      border-bottom: none;
    }
  }
  li {
    &:not(:last-child) {
      border-bottom: 1px dashed rgba($color: #000, $alpha: .1);
    }
  }
}

.moreMenuItem {
  display: block;
  padding: 5px 0;
  color: rgba($color: #000, $alpha: .7);
  cursor: pointer;
}

