.textBox2 {
  margin-bottom: 40px;
  padding: 40px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .03), 0 20px 40px -20px rgba(0, 0, 0, .1);
  background-color: #fff;
}
.icon {
  display: block;
  margin-bottom: 30px;
}
.title {
  font-size: 18px;
  color: rgba($color: #000, $alpha: .9);
  margin-bottom: 10px;
}

