.standard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.img {
  text-align: center;
}

.button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
